<div class="exam-list">

    <div class="list">
        <p class="class-list_intro">Exam</p>
        <div class="list-heading">
            <p>Exam Name</p>
            <p>Start Time</p>
            <p>Duration</p>
        </div>

        <hr style="background-color:#d3d6db;height: 2px;border: none;">

        <div class="list-content">
            <p>Exam Name</p>
            <p>10:00 am</p>
            <p>40 min</p>
        </div>
        <button class="start-exam_button">Start</button>
    </div>

    <div class="list">
        <p class="class-list_intro">Exam</p>
        <div class="list-heading">
            <p>Exam Name</p>
            <p>Start Time</p>
            <p>Duration</p>
        </div>

        <hr style="background-color:#d3d6db;height: 2px;border: none;">

        <div class="list-content">
            <p>Exam Name</p>
            <p>10:00 am</p>
            <p>40 min</p>
        </div>
        <button class="start-exam_button">Start</button>
    </div>

    <div class="list">
        <p class="class-list_intro">Exam</p>
        <div class="list-heading">
            <p>Exam Name</p>
            <p>Start Time</p>
            <p>Duration</p>
        </div>

        <hr style="background-color:#d3d6db;height: 2px;border: none;">

        <div class="list-content">
            <p>Exam Name</p>
            <p>10:00 am</p>
            <p>40 min</p>
        </div>
        <button class="start-exam_button">Start</button>
    </div>

    <div class="list">
        <p class="class-list_intro">Exam</p>
        <div class="list-heading">
            <p>Exam Name</p>
            <p>Start Time</p>
            <p>Duration</p>
        </div>

        <hr style="background-color:#d3d6db;height: 2px;border: none;">

        <div class="list-content">
            <p>Exam Name</p>
            <p>10:00 am</p>
            <p>40 min</p>
        </div>
        <button class="start-exam_button">Start</button>
    </div>


</div>