<div class="add_question-container">
    <form class="add_question">


        <h5>ADD QUESTION</h5>
        <label for="subject">Select subject</label>
        <select name="subject" id="subject" class="input">
            <option value="">Select Option</option>
            <option value="subject1">Subject1</option>
            <option value="subject2">Subject2</option>
        </select>

        <label for="question">Add question</label>
        <input type="text" id="question" class="input">


        <label for="marks">Add marks</label>
        <input type="text" id="marks" class="input">

        <label for="">Optoin 1</label>
        <input type="text" id="option_one" class="input">

        <label for="">Optoin 2</label>
        <input type="text" id="option_two" class="input">

        <label for="">Optoin 3</label>
        <input type="text" id="option_three" class="input">

        <label for="">Optoin 4</label>
        <input type="text" id="option_four" class="input">

        <button type="submit" class="add_question-button">Add Question</button>

        </from>

</div>