<div class="add_question-container">
    <form class="add_subject">


        <h5>ADD EXAM SUBJECT</h5>
        <label for="">Add Subject Name</label>
        <input type="text" class="add_subject-name">

        <label for="">Add Exam Marks</label>
        <input type="text" class="add_marks">

        <label for="">Starting Time</label>
        <input type="text" class="add_start-Time">

        <label for="">Ending Time</label>
        <input type="text" class="add_End-Time">

        <button class="add_subject-button">Add Exam</button>
        </from>

</div>